<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('文件上传')" />
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>文件上传控件 </h5>
                    </div>

                        
                        <div class="form-group">
<!--                            <label class="font-noraml">多文件上传</label>-->
	                        <div class="file-loading">
					            <input id="fileinput" name="files" type="file" multiple>
					        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


<div class="btn-group-sm" id="toolbar" role="group">

    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" >
        <i class="fa fa-remove"></i> 删除
    </a>

</div>
    <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table"></table>
    </div>

</div>




    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script th:inline="javascript">


        var researchId = [[${researchId}]]
        // var researchName = [[${researchName}]]
        var formData = new FormData();
        function submitHandler(){
            alert("上传")

            if($("#fileinput")[0].files[0] == null){
                alert("请选择文件");
                return;
            }
            for (var i = 0; i <$("#fileinput")[0].files.length ; i++) {
                formData.append("files",$("#fileinput")[0].files[i]);
            }
            formData.append("researchId",researchId);
            // formData.append("researchName",researchName);
            $.ajax({
                url:'/research/research/uploadFile',
                type:'post',
                data:formData,
                cache: false,
                dataType:'json',
                processData: false,
                contentType: false,
                success:function (result) {
                    $.operate.successCallback(result);
                }
            })

        }

    
    $(document).ready(function () {

        // 多图上传
        $("#fileinput").fileinput({
            uploadUrl: ctx + 'common/uploads',
            uploadAsync: false
        })
    });




        //表格渲染
        var editFlag = [[${@permission.hasPermi('research:info:edit')}]];
        var removeFlag = [[${@permission.hasPermi('research:info:remove')}]];
        var prefix = ctx + "research/info";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",

                modalName: "项目文件信息",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'fileId',
                        title: '文件id',
                        visible: false
                    },
                    {
                        field: 'researchCode',
                        title: '所属项目编码'
                    },
                    {
                        field: 'researchName',
                        title: '所属项目名称'
                    },
                    {
                        field: 'fileName',
                        title: '文件名称'
                    },
                    {
                        field: 'filePath',
                        title: '文件路径',
                        visible: false
                    },
                    {
                        title: '操作',
                        align: 'center',
                        formatter: function(value, row, index) {
                            var actions = [];
                            // actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.fileId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-success btn-xs ' + '" href="javascript:void(0)" onclick="downloadFile(\'' + row.filePath + '\')"><i class="fa fa-edit"></i>下载</a> ');
                            // actions.push("<a class='btn btn-success btn-xs href='javascript:void(0)' onclick='downloadFile(\'' + row.filePath+ '\')'><i class='fa fa-edit'></i>下载</a> ");

                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.fileId + '\')"><i class="fa fa-remove"></i>删除</a>');
                            return actions.join('');
                        }
                    }]
            };
            $.table.init(options);
        });


        function downloadFile(filePath){
            //js获取ip及端口
            var cur = window.document.location.href;
            var pathname = window.document.location.pathname;
            var pos = cur.indexOf( pathname );
            var localhostPath = cur.substring( 0, pos );//localhost:8080 也就是根目录加端口

            window.location.href = localhostPath + filePath;
        }
    </script>
</body>
</html>
